# Working with databases

### 1. To create a connection

In [ ]:
# create a connection to a postgres db
import psycopg2
connection = psycopg2.connect(
    dbname='your_database',
    user='your_username',
    password='your_password',
    host='your_host'
)

### 2. To create a db cursor

In [ ]:
cursor = connection.cursor()

### 3. Execute a query

In [ ]:
cursor.execute("select * from table")

### 4. Fetching data

In [ ]:
records = cursor.fetchall()
for record in records:
    print(record)

### 5. To insert data

In [ ]:
cursor.execute("INSERT INTO your_table (column1, column2) VALUES (%s, %s)", ('value1', 'value2'))
connection.commit()

### 6. To update data

In [ ]:
cursor.execute("UPDATE your_table SET column1 = %s WHERE column2 = %s", ('new_value', 'condition_value'))
connection.commit()

### 7. To delete data

In [ ]:
cursor.execute("DELETE FROM your_table WHERE condition_column = %s", ('condition_value',))
connection.commit()

### 8. To create a table

In [ ]:
cursor.execute("""
    CREATE TABLE your_new_table (
        id SERIAL PRIMARY KEY,
        column1 VARCHAR(255),
        column2 INTEGER
    )
""")
connection.commit()

### 9. To drop a table

In [ ]:
cursor.execute("DROP TABLE if exists your_table")
connection.commit()

### 10. To use transactions

In [ ]:
try:
    cursor.execute("your first transactional query")
    cursor.execute("your second transactional query")
    connection.commit()  # commit if all is well
except Exception as e:
    connection.rollback()  # rollback in case of any issue
    print(f"An error occurred: {e}")